%script#book-partial(type="text/x-handlebars-template")
    {{#with volumeInfo.imageLinks.thumbnail}}
    {{debug}}
    .well
        %ul(class="thumbnails")
            %li.span2
                plain: {{#if imageLinks }}
                .thumbnail
                    %img(src="{{imageLinks.thumbnail}}" alt="{{title}}")
                    %input(type="hidden" name="thumbnail" value="{{imageLinks.thumbnail}}")
                plain: {{/if}}

                %h4.title plain: {{title}}
                %input(type="hidden" name="thumbnail" value="{{volumeInfo.title}}")

                plain: {{#if authors}}
                .authors
                plain: {{join authors}}
                %input(type="hidden" name="thumbnail" value="{{join authors}}")
                plain: {{/if}}

                %button.btn.btn-primary(type="submit")
                    %i.icon-plus
                    Add
    {{/with}}

%script#booklist-template(type="text/x-handlebars-template")
    :plain
        {{#if items}}
            {{#items}}
                {{> book}}
            {{/items}}
        {{/if}}

-#<!--<script type="text/javascript">-->
-#    <!--$(document).ready(function() {-->
-#        <!--var template = Handlebars.compile($("#booklist-template").html());-->
-#        <!--Handlebars.registerPartial("book", $("#book-partial").html());-->
-#
-#        <!--var books = blah;-->
-#        <!--template(books)-->
-#    <!--});-->
-#<!--</script>-->

