%script#book-partial(type="text/x-handlebars-template")
    %ul(class="thumbnails")
        %li.span2
            {{#if volumeInfo.imageLinks }}
            .thumbnail
                %img(src="{{volumeInfo,imageLinks.thumbnail}}" alt="{{volumeInfo.title}}")
                %input(type="hidden" name="thumbnail" value="{{volumeInfo.imageLinks.thumbnail}}")
            {{/if}}

            %h4.title plain: {{volumeInfo.title}}
            %input(type="hidden" name="thumbnail" value="{{volumeInfo.title}}")

            {{#if volumeInfo.authors}}
            .authors"
            {{#join volumeInfo.authors}}
            %input(type="hidden" name="thumbnail" value="{{#join volumeInfo.authors}}")
            {{/if}}

            %button.btn.btn-primary(type="submit")
                %i.icon-plus
                Add

%script#booklist-template(type="text/x-handlebars-template")
    :plain
        {{#if books}}
            {{#each books}}
                {{> book}}
            {{/each}}
        {{/if}}

-#<!--<script type="text/javascript">-->
-#    <!--$(document).ready(function() {-->
-#        <!--var template = Handlebars.compile($("#booklist-template").html());-->
-#        <!--Handlebars.registerPartial("book", $("#book-partial").html());-->
-#
-#        <!--var books = blah;-->
-#        <!--template(books)-->
-#    <!--});-->
-#<!--</script>-->

