%script#book-partial(type="text/x-handlebars-template")
    {{#with volumeInfo}}
    %li.span2
        {{#if imageLinks }}
        .thumbnail
            %form{action: "/books", :method => "post"}
                %img(src="{{imageLinks.thumbnail}}" alt="{{title}}")
                %input(type="hidden" name="thumbnail" value="{{imageLinks.thumbnail}}")
                {{/if}}

                %h4.title {{title}}
                %input(type="hidden" name="title" value="{{volumeInfo.title}}")

                {{#if authors}}
                .authors
                    {{join authors}}
                    %input(type="hidden" name="authors" value="{{join authors}}")
                    {{/if}}

                %button.btn.btn-primary(type="submit")
                    %i.icon-plus.icon-white
                    Add
    {{/with}}

%script#booklist-template(type="text/x-handlebars-template")
    %ul(class="thumbnails")
        :plain
            {{#if items}}
                {{#items}}
                    {{> book}}
                {{/items}}
            {{/if}}

-#<!--<script type="text/javascript">-->
-#    <!--$(document).ready(function() {-->
-#        <!--var template = Handlebars.compile($("#booklist-template").html());-->
-#        <!--Handlebars.registerPartial("book", $("#book-partial").html());-->
-#
-#        <!--var books = blah;-->
-#        <!--template(books)-->
-#    <!--});-->
-#<!--</script>-->

