%script(type="text/javascript" src="js/search.js")
#search.well
  %input.search-query.input-medium(type="text" placeholder="ISBN or Title" name="q"){ value: (query unless query.nil?) }
  %button#btnSearch.btn.btn-inverse(data-loading-text="Searching...")
    %i.icon-search.icon-white
    Search
#searchResults.well
  = partial(:'partials/book_partial')