body {
    padding: 10px;
}

#footer {
    text-align: center;
}

.thumbnail {
    margin: 2px;
    padding: 5px;
    width: 140px;
    height: 300px;
}

.thumbnail img {
    max-width: 60px;
    height: 100px;
    margin-bottom: 4px;
}

.thumbnail h4 {
    font-size: 12px;
}

.thumbnail h5 {
    font-size: 10px;
}
