body {
    padding: 10px;
}

#footer {
    text-align: center;
}

.thumbnail {
    position: relative;
    margin: 2px;
    padding: 5px;
    width: 140px;
    height: 310px;
}

.thumbnail form {
    height: 100%;
}

.thumbnail img {
    max-width: 240px;
    max-height: 210px;
    margin-bottom: 4px;
}

.thumbnail .title {
    font-size: 12px;
}

/*.thumbnail .authors {*/
    /*font-style: italic;*/
    /*font-size: 12px;*/
    /*margin: 5px 0px 5px 0px;*/

/*}*/

/*.thumbnail .description {*/
    /*height: 12%;*/
    /*overflow: scroll;*/
    /*margin-bottom: 5px;*/
/*}*/

.thumbnail .btn {
    position: absolute;
    bottom: 5px;
    width: 140px;
}